@component blog{
    @descendent item{
        margin-bottom: 2.2rem
    }

}
@component article{
    @descendent topic{
        font-size: 1.5rem;
        padding-bottom: 1.6rem;
        color: #454545
    }
    @descendent title{
        font-size: 1rem;
        color: #C62A31;
        padding: 1rem 0 0.9rem 0;
    }

}

@component article-content{
    font-size: 0.875rem;
    color: #778081;
    @descendent item{
        padding-top: 1.7rem;
        &:first-child{
        padding-top: 0;
        }
    }
}

@media only screen and (min-width:768px) {

    .article__title {
        padding-top: 0;
        padding-right: 5%;
        font-size: 1.5rem;
        line-height: 1.4;
    }
    .article__img{
        float: left;
        padding-right: 30px;
        padding-bottom: 20px;
    }

    .article__img_right{
        float: right;
        padding-left: 32px;
        padding-right: 0;
    }
    .article__topic {
        font-size: 1.7rem;
    }
    .article-content {
        font-size: 1.15rem;
    }
}


@media only screen and (min-width:1440px) {
    .blog{
        display: -webkit-box;
        display: flex;
    }

    .blog__item:nth-child(odd){
        padding-right: 35px;
    }
    .article__title {
        font-size: 1rem;
        padding-right: 0;
        line-height: 1.25;
        padding-bottom: 1.7rem;
    }
    .article-content {
        font-size: 0.875rem;
    }
    .article__topic {
        font-size: 1.5rem;
        padding-bottom: 2.1rem;
    }
    .article__img {
        padding-right: 23px;
    }
    .article__img_right {
        padding-right: 0;
    }
    .article-content__item{
        line-height: 1.2;
        padding-top: 1.2rem;
    }
}