.blog__item{
    margin-bottom: 2.2rem;
}

.article__topic{
    font-size: 1.5rem;
    padding-bottom: 1.6rem;
    color: #454545
}

.article__title{
    font-size: 1rem;
    color: #C62A31;
    padding: 1rem 0 0.9rem 0;
}

.article-content{
    font-size: 0.875rem;
    color: #778081;

}

.article-content__item{
    padding-top: 1.7rem;
}

.article-content__item:first-child{
    padding-top: 0;
}
